
body{

    background-color: #7D7D7D;
    max-width: 450px;
    margin: auto;
}


h1{

    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h3{
    color: #FFCCE5;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}


.chart{
    width: 330px;
    border-width: 40px;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    margin: 30px;


}
