
body{

    background-color: #000000;
    max-width: 450px;
    margin: auto;
}

h1{
    font-size: 100px; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
    font-family: 'Bevan', cursive;
    font-weight: bold;
}

h3{
    font-size: 15px;
    color: black;
    font-family: 'Domine', serif;
    text-align: center;
}

hr {
  border:none;
  border-top:6px dotted #AC35F0; 
  color:#6666FF;
  background-color: transparent;
  height:2px;
  width:480;
}


p{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-align: center;
}


.conference {
    font-size: 12px;
    color: black;
    font-weight: lighter;
    text-align: left;
    margin: 18px 40px 18px;
}

.text {
    font-size: 30px;
    color: #9933FF;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    text-decoration: normal;
}

.name {
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
}

.yellow {
    color: #FCE343;
}

.white {
    color: white;
}

.bodywrap1{
    background-color: #A0A0A0;
    width: 550px;
    margin: auto;
    position: center;
    
}


.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 3px solid white;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #FFE600;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.chart{
    width: 450px;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    margin: 30px;
}

.img {
  border-radius: 8px;
}
