
body{

    background-color: #CECDD2;
    max-width: 450px;
    margin: auto;
}


footer{
    height: 100px
}



h1{

    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h3{
    color: #FFCCE5;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

.button-52 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 15px 22px 15px;
  outline: 0;
  border: 3px solid black;
  cursor: pointer;
  position: left;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}


.chart{
    width: 400px;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    margin: 30px;


}
