
body{

    background-color: #B6B6B2;
    max-width: 450px;
    margin: auto;
}


footer{
    height: 100px
}

h1{
    font-size: 80px; 
    font-weight: bold;
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

h3{
    font-size: 15px;
    color: black;
    font-family: 'Domine', serif;
    text-align: center;
}

hr {
  border:none;
  border-top:5px dotted #AC35F0; 
  color:#AC35F0;
  background-color: transparent;
  height:1px;
  width:400;
}


p{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-align: center;
}

.conference {
    font-size: 12px;
    color: black;
    font-weight: lighter;
}

.text {
    font-size: 25px;
    color:#FFFFFF;
    text-decoration: normal;
}

.name {
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
}

.yellow {
    color: #FCE343;
}

.white {
    color: white;
}

.bodywrap1{
    background-color: #FFC3FE;
    width: 450px;
    margin: auto;
    
}

.wrapper {
    width: 80%;
    min-width: 550px;
    background-color: #FFEF51;
    margin: auto;
 }
    

.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.chart{
    width: 400px;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    margin: 30px;


}
